<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.utfpr.danielproenca.games">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".ChooseGames"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Pubg"
            android:parentActivityName=".ChooseGames">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Soccer"
            android:parentActivityName=".ChooseGames">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".ShowDataPubg"
            android:parentActivityName=".Pubg">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".ShowDataSoccer"
            android:parentActivityName=".Soccer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
    </application>

</manifest>